<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommonMapper">

	<!-- MySQL 페이징 -->
	<sql id="paging">
		LIMIT
			#{paginationInfo.firstRecordIndex}, #{recordsPerPage}
	</sql>

	<!-- MySQL 검색 -->
	<sql id="search">
		<!-- 검색 키워드가 있을 때 -->
		<if test="searchKeyword != null and searchKeyword != ''">
			
					AND
						(
							   user_id LIKE CONCAT('%', #{searchKeyword}, '%')
							   OR
							   user_name LIKE CONCAT('%', #{searchKeyword}, '%') 
							
						)
				
		</if>
	</sql>

</mapper>