<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinwook.home.mapper.ProductMapper">

	<sql id="productColumns">
		prod_no
		, store_no
		, prod_name
		, prod_img
		, price
		, prod_orign
		, prod_info
		,
		is_soldout
	</sql>

	<select id="selectProductDetail" parameterType="int"
		resultType="Product">
		SELECT
		<include refid="productColumns" />
		FROM
		product
		WHERE
		prod_no = #{prodNo}

	</select>


</mapper>