<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinwook.home.mapper.RequestMapper">


	<!-- 상점 등록 (미수락 상태) -->
	<insert id="addRequestAddStore" parameterType="Store">
			INSERT INTO store 
			VALUES (
				  NULL
				, #{userId}
				, #{storeName}
				, #{storeAddr}
				, #{storeType}
				, 0
				, #{storePhone}
				, #{storeIntro}
				, SYSDATE()
				, NULL
				, NULL
				, NULL
				, #{bussinessCard}
				, #{storeImage}
				, #{accNo}
				, #{bank}
				, 0
				, 0
			)
	</insert>
	
	<!-- 상점 등록 요청 등록 -->
	<insert id="addRequestAddStoreForAdmin" parameterType="Request">
			INSERT INTO request 
			VALUES (
				  NULL
				, #{userId}
				, #{storeNo}
				, 1 <!-- 상점등록요청 -->
				, 0 <!-- 답변전 -->
				, NULL
				, SYSDATE()  
				, NULL
				, NULL
				, NULL
				, NULL
			)
	</insert>
	
	
	<!-- 상점 등록 요청 보기 -->
	<select id="getRequestStore" parameterType="String" resultType="Store">
		SELECT
			*
		FROM
			store
		WHERE
			user_id = #{userId}
	</select>


	<!-- 상점 등록 수락 -->
	<update id="updateRequestAddStore" parameterType="Store">
		UPDATE store
		SET
			  store_status = true
		WHERE
			store_no = #{storeNo}
	</update>
	
	
	<!-- ////// 공통 ////// -->
	<!-- 요청 상태 수락으로 변경 -->
	<update id="updateRequestStatusToAccept" parameterType="Request">
		UPDATE 
			  request
		SET
			  req_status = true,
			  res_date = SYSDATE()
		WHERE
			<if test="reqCode == 1">
			  req_code = 1 
			</if>
			<if test="reqCode == 2">
			  req_code = 2 
			</if>
			<if test="reqCode == 3">
			  req_code = 3 
			</if>
			<if test="reqCode == 4">
			  req_code = 4 
			</if>
			  and
			  user_id = #{userId}
	</update>
	

	<!-- 상점 등록 확인을 위한 sql ***삭제예정*** -->
	<select id="checkStoreStatus" parameterType="int" resultType="Store">
		SELECT
			store_no, store_name, store_status
		FROM
			store
		WHERE
			store_no = #{storeNo}
	</select>
	
	
	<!-- 환급 신청 -->
	<insert id="addRequestRefund" parameterType="Request">
			INSERT INTO request 
			VALUES (
				  NULL
				, #{userId}
				, NULL
				, 4 <!-- 상점등록요청 -->
				, 0 <!-- 수락전 -->
				, NULL
				, SYSDATE()  
				, #{refundMoney}
				, NULL
				, NULL
				, NULL
			)
	</insert>



	<!-- 환급 수락 (진욱페이 잔액 변경) -->
	<update id="updateRequestRefund" parameterType="Request">
		UPDATE 
			  users
		SET
			  jp_balance = (SELECT u.jp_balance - r.refund_money
			  				FROM users u, request r
			  				WHERE u.user_id = r.user_id and u.user_id = #{userId}) vt
		WHERE
			  user_id = #{userId}	
	</update>



<!-- 상점 삭제 신청 -->
<!-- 상점 삭제 수락 -->
<!-- 광고 등록 신청 -->
<!-- 광고 등록 요청 보기 -->
<!-- 광고 등록 수락 -->


<!-- 요청 목록 4개-->
<!-- 요청 목록 삭제 -->
<!-- ??? 신고하기 ??? -->





</mapper>