<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinwook.home.mapper.StoreMapper">


	<update id="updateStoreProduct" parameterType="Product">
		UPDATE product
		SET
		price = #{price}
		, prod_info = #{prodInfo}
		, prod_img = #{prodImg}
		,prod_orign = #{prodOrign}
		WHERE
		prod_no = #{prodNo}
	</update>

	<update id="isSoldout" parameterType="Product">
		UPDATE product
		SET
		is_soldout=#{isSoldout}
		WHERE
		prod_no=#{prodNo}
	</update>

	<update id="updateStore" parameterType="Store">
		UPDATE store
		SET
		store_intro=#{storeIntro:VARCHAR},
		store_phone=#{storePhone:VARCHAR},
		store_image=#{storeImage:VARCHAR},
		start_time=#{startTime},
		end_time=#{endTime},
		holiday=#{holiday:VARCHAR},
		bank=#{bank:VARCHAR},
		acc_no=#{accNo:VARCHAR}
		WHERE store_no = #{storeNo}
	</update>


	<delete id="deleteStoreProduct" parameterType="product">
		DELETE FROM
		product
		WHERE prod_no = #{prodNo}
	</delete>

	<insert id="addStoreProduct" parameterType="Product"
		useGeneratedKeys="true" keyProperty="prodNo">
		INSERT INTO
		product(prod_no,store_no,prod_name, price, prod_info, prod_img,
		prod_orign, soldout)
		VALUES(#{prodNo:INTEGER},#{storeNo:INTEGER},
		#{prodName},#{price}, #{prodInfo}, #{prodImg},#{prodOrign},1)
	</insert>

	<update id="isOpen" parameterType="Store">
		UPDATE store
		SET
		is_open=#{isOpen}
		WHERE
		store_no=#{storeNo}
	</update>

	<select id="getStore" parameterType="int" resultType="Store">
		SELECT
		s.store_no, s.store_name, s.store_type, s.store_addr, s.start_time,
		s.end_time, s.holiday,
		s.store_intro, vt.별점, p.prod_no, p.prod_name,
		p.price, p.prod_orign, p.prod_info
		FROM store s, product p, orders o,(SELECT ROUND(AVG(review_star),1) 별점
		FROM orders
		WHERE store_no=#{storeNo})vt
		WHERE s.store_no=p.store_no AND
		s.store_no=o.store_no AND
		p.store_no=s.store_no AND
		s.store_no = #{storeNo}
		GROUP BY s.store_no, s.store_name, s.store_type, s.store_addr,
		s.start_time, s.end_time, s.holiday,
		s.store_intro, vt.별점, p.prod_no,
		p.prod_name, p.price, p.prod_orign, p.prod_info;
	</select>



</mapper>